{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'imageDuplicates/style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <meta name="description" content="">
    <meta name="author" content="WikiLooks">
    <link rel="stylesheet" href="https://www.iitg.ac.in/cseweb/WikiFeedback/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://www.iitg.ac.in/cseweb/WikiFeedback/css/isotope.css" media="screen" />
    <link rel="stylesheet" href="https://www.iitg.ac.in/cseweb/WikiFeedback/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link href="https://www.iitg.ac.in/cseweb/WikiFeedback/css/animate.css" rel="stylesheet" media="screen">
    <link href="https://www.iitg.ac.in/cseweb/WikiFeedback/flexslider/flexslider.css" rel="stylesheet" />
    <link href="https://www.iitg.ac.in/cseweb/WikiFeedback/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.iitg.ac.in/cseweb/WikiFeedback/css/styles.css" />
    <link href="https://www.iitg.ac.in/cseweb/WikiFeedback/font/css/font-awesome.min.css" rel="stylesheet">

    <style>
        .ok2 {
            display: flex;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 1500px;
            font-style: bold;
            color: black;
            font-family: Arial;
        }
        .align{
            color: aliceblue;
            margin-left: 10%;
            font-style: italic;
            font-size: xx-large;
            justify-content: center;
        }
        .a1{
            color: green;
            font-size: 30px;
        }
        .a3{
            color: red;
            font-size: 30px;
        }
        .row{
            margin-top: 140px;
            height: 400px;
            padding-bottom: 50px;
        }
        body{
            background-image:  url('/static/imageDuplicates/images/pngegg.png'),url('/static/imageDuplicates/images/9.jpg');
            background-repeat: no-repeat, repeat;
            background-size: cover;
            stroke-width: 100%;
            background-position: center;
        }
    </style>
</head>

<script>  
    function lowFreq() {
         alert("Predicted incorrect Surface Names for this Entity have already been corrected(or removed) on Wikipedia. Please choose other Entity");
        window.top.history.back()
    };
</script>

<body>  
    <header class="header"  >
        <div class="container " style="height: 70px !important; background-color: rgb(39, 38, 38);  height: 60px; border-radius: 15px 40px; ">
          <nav class="navbar navbar-inverse " role="navigation" >
            <div class="navbar-brand " >
              <!-- <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> -->
              <a href="#" class="navbar-nav animated bounceInLeft logo  "><b><i>WikiLooks</i></b></a> </div>
            <div id="main-nav" class="collapse navbar-collapse" >
              <ul class="nav navbar-nav" id="mainNav" >
                <li style="padding-right: 2px;"  id="firstLink"><a href="{% url 'imageDuplicates:index2'  %}" class="scroll-link" style="background-image: url(/static/imageDuplicates/images/11.jpg);">Home</a></li>
                <li style="padding-right: 2px;"><a href="#search" class="scroll-link" style="background-image: url(/static/imageDuplicates/images/11.jpg);">Search</a></li>
                <li style="padding-right: 2px;"> <a href="#services" class="scroll-link" style="background-image: url(/static/imageDuplicates/images/11.jpg);">How to use</a></li>
                <li style="padding-right: 2px;"><a href="#aboutUs" class="scroll-link" style="background-image: url(/static/imageDuplicates/images/11.jpg);">The idea</a></li>
                <li style="padding-right: 2px;"><a href="#plans" class="scroll-link" style="background-image: url(/static/imageDuplicates/images/11.jpg);">Current Structure</a></li>
                <li style="padding-right: 2px;"><a href="#team" class="scroll-link" style="background-image: url(/static/imageDuplicates/images/11.jpg);">Future Plan</a></li>
                <li style="padding-right: 2px;"><a href="#contactUs" class="scroll-link" style="background-image: url(/static/imageDuplicates/images/11.jpg);">Contact Us</a></li>
              </ul>
            </div>
          </nav>
        </div>
    </header>

    <div style="padding-top: 130px;">
        {% if wrong %}
            <h1 class="ok2" style="color: rgb(255, 255, 255); background-color: rgb(39, 38, 38); border-radius: 15px 15px 15px 15px; width: 40%;"> Surface Names of  "{{wrong.0.entityId.entityName}}" Entity </h1>
        {% endif %}
    </div>

    <div class="row"  >
        {% if wrong %}
            <div class="col-sm-5" style="background-image: url('/static/imageDuplicates/images/12.jpg'); border-radius: 15px 50px; margin-left: 70px;">
                <h1 class="align" >Correct Surface Names</h1>
                    <ul >
                        {% for q in correct %}
                        <li class="align">
                            <a class="a1"  >{{q.surfaceNamesId.surfaceName}}</a>
                        </li>
                        {% endfor %} 
                    </ul>
            </div>
            <div class="col-sm-5" style="background-image: url('/static/imageDuplicates/images/12.jpg'); border-radius: 15px 50px ; margin-left: 80px;">
                <h3 class="align"> Wrong Surface Names </h3>
                    <ul>
                        {% for q in wrong %}
                        <li class="align">
                            <a  class="a3" href="{% url 'imageDuplicates:vote' pk1=q.entityId.entityId pk2=q.surfaceNamesId.surfaceNamesId  %}" >{{q.surfaceNamesId.surfaceName}}</a>
                        </li>
                        {% endfor %}
                    </ul>
            </div>
        {% else %}
            <script type="text/javascript"> lowFreq(); </script>
        {% endif %}
    </div>
</body>
</html>