{%load static%}
<link href="{% static 'imageDuplicates/style.css' %}" rel="stylesheet" >
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"/> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <meta name="description" content="">
    <meta name="author" content="WikiLooks">
    <link rel="stylesheet" href="https://www.iitg.ac.in/cseweb/WikiFeedback/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://www.iitg.ac.in/cseweb/WikiFeedback/css/isotope.css" media="screen" />
    <link rel="stylesheet" href="https://www.iitg.ac.in/cseweb/WikiFeedback/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <link href="https://www.iitg.ac.in/cseweb/WikiFeedback/css/animate.css" rel="stylesheet" media="screen">
    <link href="https://www.iitg.ac.in/cseweb/WikiFeedback/flexslider/flexslider.css" rel="stylesheet" />
    <link href="https://www.iitg.ac.in/cseweb/WikiFeedback/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.iitg.ac.in/cseweb/WikiFeedback/css/styles.css" />
    <link href="https://www.iitg.ac.in/cseweb/WikiFeedback/font/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .a1{
            color: black;
            font-size: 30px;
        }
        body{
            background: white url("/static/imageDuplicates/images/background.jpeg");
        }
        .bg{
            margin-left: 30%;
        }
        .align{
            margin-top: 3%;
            margin-left: 5%;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="container ">
          <nav class="navbar navbar-inverse " role="navigation" >
            <div class="navbar-brand ">
              <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a href="#" class="navbar-brand scroll-top logo  animated bounceInLeft"><b><i>WikiLooks</i></b></a> </div>
            <div id="main-nav" class="collapse navbar-collapse">
              <ul class="nav navbar-nav" id="mainNav">
                <li class="active" id="firstLink"><a href="#home" class="scroll-link">Home</a></li>
                <li><a href="#search" class="scroll-link">Search</a></li>
                <li><a href="#services" class="scroll-link">How to use</a></li>
                <li><a href="#aboutUs" class="scroll-link">The idea</a></li>
                <li><a href="#plans" class="scroll-link">Current Structure</a></li>
                <li><a href="#team" class="scroll-link">Future Plan</a></li>
                <li><a href="#contactUs" class="scroll-link">Contact Us</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <!-- Links -->
        <ul class="navbar-nav ">
          <li class="nav-item active ">
            <a class="nav-link" href="{% url 'imageDuplicates:index2' %}">Home</a>
          </li>
        </ul>
    </nav> 
    <div class="container-lg p-3 my-3 bg-dark text-white ">
        <h1 class="bg-light text-dark "><p class="bg">All related Queries </p></h1>
    </div>
    {% if allEntity %}
        <ul class="align">
            {% for question in allEntity %}
                <li>
                    <a class="a1" href="{% url 'imageDuplicates:detail' pk=question.entityId %}" >{{question.entityName}}</a>
                </li>
            {% endfor %}    
        </ul>
    {% else %} 
        <p> No options are available.</p>
    {% endif %} 
</body>
</html>


